@{
	ViewData["Title"] = "Scryfall Search";
}
<div class="row justify-content-center m-auto">
	<form class="text-center">
		<h2>Pesquisar por cards:</h2>
		<input class="form-control" type="text">
		<button class="btn btn-success mt-2" style="width: 100%;">Pesquisa</button>
	</form>
</div>
<div id="listagem-cards" class=""></div>
